div.form-inline{
	margin-bottom: 20px;
	div.form-group{
		input.form-control{
		  font-size: 18px;
		  font-weight: bold;
		  color: #383743;
		  line-height: 1.6;
		  background-color: rgba(0, 0, 0, 0);
		  background-image: none;
		  border-bottom: solid 0.7px #383743;
		  border-top: none;
		  border-left: none;
		  border-right: none;
		  border-radius: 0px;
		  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
		  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
		  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
		  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
		  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
		}
		input.form-control:focus{
			border-color: #98cbe8;
  			outline: 0;
  			-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
  			box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
		}
	}
}
div.card{
background-color: #fff;
margin-right: 70px;
border-radius: 4.7px;
	div.card-header{
		h3.id{

		}
	}
	div.card-body{
		h3.card-title{
			font-family: Roboto;
  			font-size: 30px;
  			font-weight: bold;
			color: #1a0e49;
		}
		h4.subtitle{
			font-family: Roboto;
  			font-size: 24px;
  			color: #8d8c8c;
		}
		p.card-text{
			font-family: Roboto;
  			font-size: 18px;
  			color: #8d8c8c;
		}
	}
	div.card-footer{
		text-align: center;
		margin-bottom: 20px;

		a.btn-primary{
			background-color: #57bbbc;
			border: none;
		}
	}
}