.navbar{
	background-image: linear-gradient(180deg, #ee4c77, #813286);
	height: 80px;
	color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}
