html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    background-color: #e7e3d3ee;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

h1.title{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #383743;
}
p.subtitle{
    font-size: 18px;
    font-family: 'Roboto';
    line-height: 1.44;letter-spacing: -0.3px;
    text-align: center;
    color: #383743;
}
i.material-icons{
    color: #ee4c77;
}

input.form-login{
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 18px;
  font-weight: bold;
  color: #383743;
  line-height: 1.6;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  border-bottom: solid 0.7px #383743;
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-login:focus {
  border-color: #98cbe8;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
}

.button{
    width: 324px;
    background-color: #57bbbc !important;
    border: none;
}