
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

//styles 
@import "welcome";
@import "navbar";
@import "boxcomponent";
@import "breadcrumb";
@import "page";
@import "card";
