<template>
	<spam v-bind:class="position">
		<button v-if="!type || (type != 'button' && type != 'link')" type="button" class="btn btn-primary" data-toggle="modal" v-bind:data-target="'#' + name">{{title}}</button>
		<button v-if="type == 'button'" type="button" class="btn btn-primary" data-toggle="modal" v-bind:data-target="'#' + name">{{title}}</button>
		<a v-if="type == 'link'" href="" data-toggle="modal" v-bind:data-target="'#' + name">{{title}}</a>
	</spam>
</template>
<script>
	export default{
		props: ['type', 'name', 'title', 'position']
	}
</script>