<template>
    <ol class="breadcrumb">
	    <li v-for="item in list" class="breadcrumb-item">
	    	<a v-if="item.url" v-bind:class="defineClass" v-bind:href="item.url">{{ item.title }}</a>
	    	<span v-if="!item.url">{{item.title}}</span>
	    </li>
        <modallink-component type="button" name="create" title="criar" position="pull-right"></modallink-component>
	</ol>
</template>
<script>
  export default{
    props: ['list'],
    computed:{
    	defineClass: function(){
    		if(this.url){
    			return "active"
    		}else{
    			return "";
    		}
    	},
    }
  }
</script>