<template>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <a class="link" v-bind:href="url">
                <span v-bind:class="defineColorBox"><i v-bind:class="icon"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">{{ title }}</span>
                  <span class="info-box-number">{{ number }}</span>
                </div>
                <!-- /.info-box-content -->
            </a>
        </div>
    </div>
</template>
<script>
    export default{
        props: ['icon', 'color', 'title', 'number', 'url'],
        computed: {
            defineColorBox: function(){
                return "info-box-icon "+ this.color; 
            },
        }
    }
</script> 