<template>
	<div class="col-md-12">	
		<div class="form-inline col-md-12">
			<a v-if="create && !modal" v-bind:href="create" class="btn btn-primary">Criar</a>
			<div class="form-group">
				<input type="search" placeholder="Buscar" class="form-control" v-model="search">
			</div>
		</div>
		<div class="card col-md-5" v-for="(item,index) in list">
		  <div class="card-header">
		    <h3 class="id">{{item[0]}}</h3>
		  </div>
		  <div class="card-body">
		    <h3 class="card-title">{{item[1]}}</h3>
		    <h4 class="subtitle">{{item[2]}}</h4>
		    <p class="card-text">{{item[5]}}</p>
		  </div>
		  <div class="card-footer">
		  	<form v-bind:id="index" v-if="remove && token" v-bind:action="remove" method="post">
				<input type="hidden" name="_method" value="DELETE">
				<input type="hidden" name="_token" v-bind:value="token">
			  	<a v-if="detail" v-bind:href="detail" class="btn btn-primary">Detalhe</a>
			  	<a v-if="edit && !modal" v-bind:href="edit" class="btn btn-primary">Editar</a>
			  	<modallink-component v-if="edit && modal" type="button" name="edit" title="Editar" position="normal"></modallink-component>
				<a href="#" class="btn btn-danger" v-on:click="executaForm(index)">Deletar</a>
		  	</form>
		  	<span v-if="!token">
		  		<a v-if="detail" v-bind:href="detail" class="btn btn-primary">Detalhe</a>
		  		<a v-if="edit && !modal" v-bind:href="edit" class="btn btn-primary">Editar</a>
			  	<modallink-component v-if="edit && modal" type="button" name="edit" title="Editar" position="normal"></modallink-component>
		  		<a v-if="remove" v-bind:href="remove" class="btn btn-primary">Deletar</a>
		  	</span>
		  	<span v-if="!token && !remove">
		  		<a v-if="detail" v-bind:href="detail" class="btn btn-primary">Detalhe</a>
		  		<a v-if="edit && !modal" v-bind:href="edit" class="btn btn-primary">Editar</a>
			  	<modallink-component v-if="edit && modal" type="button" name="edit" title="Editar" position="normal"></modallink-component>
		  	</span>
		  </div>
		</div>
	</div>	
</template>
<script>
	export default{
		props:['itens', 'remove', 'edit', 'detail', 'token', 'create', 'modal'],
		data: function(){
			return{
				search:'',
			}
		},
		methods:{
			executaForm: function(index){
				document.getElementById(index).submit();
			}
		},
		computed:{
			list:function(){
				return this.itens.filter(res => {
					for(let k = 0; k < res.length; k++){
						if((res[k] + "").toLowerCase().indexOf(this.search.toLowerCase()) >= 0){
							return true;
						}	
					}
					return false;
				});

				return this.itens;
			}
		}
	}
</script>